@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



@font-face {
    font-family: "moresugar";
    src: url("/fonts/MoreSugar-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ukiz";
    src: url("/fonts/UKIJQol_Tuz.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'ukiz', 'Times New Roman', Times, serif;
}

h1 {
  font-family: 'moresugar', 'Times New Roman', Times, serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  overflow: hidden;
}

.grid-paper {
    background-color: #f6ecd9;

    background-image:
        linear-gradient(
            to right,
            #d9d0c2 1px,
            transparent 1px
        ),
        linear-gradient(
            to bottom,
            #d9d0c2 1px,
            transparent 1px
        );

    background-size: 40px 40px;
}